body {

    background-image: url(../images/pexels-valeria-boltneva-1639565.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
}

header {
    h1 {
        color: rgb(253, 253, 253);
    }
}


.hn {

    .cd {     
        margin: 20px;
        font-size: 15px;
        color: rgb(255, 255, 255);  
        
    }
    
    .ho {
        border-style: solid;
        border-color: beige;
        border-radius: 10px;

        
    }


    .cd:hover {
        background-color: rgb(72, 75, 75);
        color: rgb(255, 255, 255);
        border-radius: 5px;
    }
}



.footer {
    background-color:rgb(75, 73, 73);
  
    div {
      margin-left: 10px;
      h3 {
        color: antiquewhite;
      }
    
      li {
    
        a {
          display: block;
          text-decoration: none;
          color: aliceblue;
        }
      }
    }
    div {
      h2 {
        color: aliceblue;
        font-size: 20px;
      }
    }
  
   }

.hero {
    width: 120  0px;
    padding: 15px;
    margin-left: 50px;
    margin-top: 40px;
    height: 100vh;


    .a {
        text-align: left;
        margin-top: 50px;
        margin-right: 35px ;

        h1 {
          font-size: 55px;

          span {
            color: crimson;
          }
        }

        h4 {
          color: rgb(250, 250, 250);
        }
       

    }
}


.im {
    img {
        height: 450px;
        position: relative;
    }
}

 .m {

        color: rgb(17, 17, 17);
        background-color: rgb(231, 47, 62);
        border-radius: 10px;
        text-decoration: none;
        font-size: 20px;

    }

    .m:hover {
        background-color: red;
        color: aliceblue;
    }





@media screen and (max-width: 770px) {


    .hn {
        margin: auto;
        flex-direction: row;

        .cd {
            margin: 15px;
        }
    }

    .hero {

        width: auto;
        display: block !important;
        
       text-align: center;
      

        .a {
            width: auto;
            text-align: center;
            margin: auto;
            align-items: center;


            h1 {
                font-size: 40px;
            }
        }

       
    }


    .im {
        margin: 0px;
        width: auto;
       
        

        img {
            width: auto;
            height: 300px;
        }
    }

}