body {
 background-image: url(./pexels-moein-moradi-672636.jpg);
 background-position: bottom;
 background-size: cover;
 background-repeat: no-repeat;
 
 
 
 
.navtags:hover {
  background-color: aliceblue;
  color: black;
  border-radius: 10px;
}


 


 .title-word {
   animation: color-animation 4s linear infinite;
 }
 
 .title-word-1 {
   --color-1: #DF8453;
   --color-2: #3D8DAE;
   --color-3: #E4A9A8;
 }
 
 .title-word-2 {
   --color-1: #DBAD4A;
   --color-2: #ACCFCB;
   --color-3: #17494D;
 }
 
 .title-word-3 {
   --color-1: #ACCFCB;
   --color-2: #E4A9A8;
   --color-3: #ACCFCB;
 }
 
 .title-word-4 {
   --color-1: #3D8DAE;
   --color-2: #DF8453;
   --color-3: #E4A9A8;
 }
 
 @keyframes color-animation {
   0%    {color: var(--color-1)}
   32%   {color: var(--color-1)}
   33%   {color: var(--color-2)}
   65%   {color: var(--color-2)}
   66%   {color: var(--color-3)}
   99%   {color: var(--color-3)}
   100%  {color: var(--color-1)}
 }
 
 /* Here are just some visual styles. 🖌 */
 
 .container {
   display: flex;
   justify-content: center;
   height: 200px;
   margin-top: 70px;
  


 }
 
 .title {
   font-family: "Montserrat", sans-serif;
   font-weight: 800;
   font-size: 5vw;
   text-transform: uppercase;
   margin-top: 90px;
 }
}



.foods {

   display: flex;
   justify-content: center;
   width: auto;
   

   .cri {
    color: white;
    font-size: 30px;
    padding: 70px;
   }
  



   .menu {
     
      padding: 50px;
     
   }
   
   




    .img {
      width: 400px;
      margin: 20px;
      height: 350px;
      position:relative;
     
     
      img {
         
        overflow: hidden;
        width: auto;;
       height: auto;
      }
        
       
     }

     .img:hover {
      width: 500px;
      height: 400px;
      transition: all .3s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    
   
     
     }


     
}

.footer {
  background-color:rgb(75, 73, 73);

  div {
    margin-left: 10px;
    h3 {
      color: antiquewhite;
    }
  
    li {
  
      a {
        display: block;
        text-decoration: none;
        color: aliceblue;
      }
    }
  }
  div {
    h2 {
      color: aliceblue;
      font-size: 20px;
    }
  }


  .copyrights {
    width: auto;

    h2 {
      font-size: 15px;
    }
  }

 }


 @media screen and (max-width: 770px) {

body {
  width: auto;
  margin: auto;
}

  .menu {
    display: block !important;
    

    .img {
     margin-bottom: 20px;
     width:auto;
     height: auto;


     .img:hover {
   width: auto;
   margin: auto;
   padding: auto;
   height: auto;
     }
    }



   
  }
 }