body {
 background-image: url(./pexels-moein-moradi-672636.jpg);
 background-position: bottom;
 background-size: cover;
 background-repeat: no-repeat;
 
 
 
 
.navtags:hover {
  background-color: aliceblue;
  color: black;
  border-radius: 10px;
}


.nava {

  a {
   margin: 60px;
  }
}


 


 .title-word {
   animation: color-animation 4s linear infinite;
 }
 
 .title-word-1 {
   --color-1: #DF8453;
   --color-2: #3D8DAE;
   --color-3: #E4A9A8;
 }
 
 .title-word-2 {
   --color-1: #DBAD4A;
   --color-2: #ACCFCB;
   --color-3: #17494D;
 }
 
 .title-word-3 {
   --color-1: #ACCFCB;
   --color-2: #E4A9A8;
   --color-3: #ACCFCB;
 }
 
 .title-word-4 {
   --color-1: #3D8DAE;
   --color-2: #DF8453;
   --color-3: #E4A9A8;
 }
 
 @keyframes color-animation {
   0%    {color: var(--color-1)}
   32%   {color: var(--color-1)}
   33%   {color: var(--color-2)}
   65%   {color: var(--color-2)}
   66%   {color: var(--color-3)}
   99%   {color: var(--color-3)}
   100%  {color: var(--color-1)}
 }
 
 /* Here are just some visual styles. 🖌 */
 
 .container {
   display: flex;
   justify-content: center;
   height: 200px;
   margin-top: 70px;
  


 }
 
 .title {
   font-family: "Montserrat", sans-serif;
   font-weight: 800;
   font-size: 5vw;
   text-transform: uppercase;
   margin-top: 90px;
 }
}


.glass {
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );


border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
margin: 30px;
padding: 20px;
}



.foods {

   display: flex;
   justify-content: center;
   width: auto;
   

   .cri {
    color: white;
    font-size: 30px;
    padding: 10px;
    background-color: black;
    border-radius: 25px;
   }
  



   .menu {
     
      padding: 20px;
     
   }
   
   




    .img {
      width: 400px;
      margin: 10px;
      height: 420px;
      position:relative;
     
     
      img {
         
        overflow: hidden;
        width: auto;;
       object-fit: cover;
       align-items: center;

      }
        
       
     }

     img:hover {

      width: 420px;
      height: 500px;
      transition: all .3s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    border-style: solid;
    z-index: 1;
    margin-left: -50px;
   
     }


     
}

.footer {
  background-color:rgb(75, 73, 73);

  div {
    margin-left: 10px;
    h3 {
      color: antiquewhite;
    }
  
    li {
  
      a {
        display: block;
        text-decoration: none;
        color: aliceblue;
      }
    }
  }
  div {
    h2 {
      color: aliceblue;
      font-size: 20px;
    }
  }


  .copyrights {
    width: auto;
    margin-top: 30px;

    h2 {
      font-size: 15px;
    }
  }

 }


 @media screen and (max-width: 770px) {

body {
  width: auto;
  margin: auto;
}


.container {
  height: auto;
  width: auto;
}

.nava {
  


  a {
    margin: 20px !important;
  }
 
}

  .menu {
    display: block !important;
    

    .img {
     margin-bottom: 20px;
    width: auto;
    height:370px;
    margin-top: auto;
    

     img {
      object-fit: cover;
      
     }

     img:hover {
      width: auto;
      height: auto;
      margin-left: -30px;
     }


     
    }

    .img:hover {
      width: auto;
      height:370px;
    }



   
  }
 }


 